* {
    color: orange;
}

body {
    background-color: rgb(73, 62, 62);
    color: green;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.pic {
    margin: 0px;
    border: solid rgb(73, 62, 62);
}

div{
    color:
}

.underline {
    text-decoration: underline;
}

/* A <div> is one of the basic HTML elements. 
It is simply an empty container. */

.alert-text{
    color: red;
}

/* Deleted below ID from html-linked code

#title {
    background-color: purple;
    display: inline-block;
    text-decoration: underline;
}

*/


/* html text for line 23-25 is 

  <div id="title"> My Awesome cookbook </div>

  Found on line 12 of yakisoba.html

  */

  /* Periods are used for class selectors
  # are used fo id selectors
  ID beats class in priority
  */
  
  .link{
    color: white;
    font-weight: bolder;
}
a:hover{
    color: orange;
}